<div ng-include src="'templates/partials/navbar.html'"></div>

<!-- Main jumbotron for a primary marketing message or call to action -->

<div class="background">
    <div class="overlay"></div>
</div>

<div class="jumbotron foreground">
    <div class="container startup-border">
        <h1>CS 2110 Active Learning</h1>
    </div>
</div>

<div class="container foreground">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2><span class="glyphicon glyphicon-education">&nbsp;</span><span class="text-right">Stay woke.</span></h2>
            <p>The active learning response system improves student engagement in class through continuous involvement in their own learning and provides daily accountability for students.</p>
        </div>
        <div class="col-md-4">
            <h2><span class="glyphicon glyphicon-user">&nbsp;</span><span class="text-right">All about you.</span></h2>
            <p>This user-focused system empowers students to take control of their own academic performance by letting them monitor their progress amongst different course topics and identify key improvement areas.</p>
        </div>
        <div class="col-md-4">
            <h2><span class="glyphicon glyphicon-phone">&nbsp;</span><span class="text-right">Goodbye clickers.</span></h2>
            <p>No 3rd party hardware is necessary for the active learning system: just a laptop, smartphone, tablet, or other wifi-connected device. </p>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; CS 3312, Georgia Tech</p>
    </footer>
</div>
<!-- /container -->